Manifest.toml

# App
dev/*
build/*
cache/*
config/secrets.jl
docs/build
log/*
sessions/*
!*.gitkeep


pre_investigations/julia/Manifest.toml

# Vagrant
.vagrant
Vagrantfile

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode
.tags*
.tags

# NPM packages folder.
node_modules/

# Database
db/*.sqlite

# Notebook helper
.idea/*

# Jupyter Nodebook
*/.ipynb_checkpoints/

# pre_investigations
pre_investigations/*

# Since user maintains their own manifest.toml, we don't need to track it
Manifest.toml